<h1>Lista de Productos</h1>

{{#if productos.length}}
<table class="tabla-productos">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre producto</th>
            <th>Descripcion</th>
            <th>Codigo</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Categoria</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        {{#each productos}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.title}}</td>
            <td>{{this.description}}</td>
            <td>{{this.code}}</td>
            <td>${{this.price}}</td>
            <td>{{this.stock}}</td>
            <td>{{this.category}}</td>
            <td>{{#if this.status}}Activo{{else}}Inactivo{{/if}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p class="sin-productos">No hay productos registrados aun.</p>
{{/if}}
